In [1]:
#Importing libraries
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind

In [2]:
#Loading datasets
data = pd.read_csv('Data for 2 sample test.csv')
data

    Hauz Khas  Defence Colony
0         180             220
1         100             200
2         120             240
3         220             180
4         160             160
5         100             260
6         140             280
7         260             300
8         240             240
9         260             220
10        180             260
11        160             160
12        200             180
13        120             220

on referring to the t-table,  t-critical value came out to be 2.056

In [3]:
#Calculating t-statistic and p-value using 2 sample t-test
t_statistic, _ = ttest_ind(data['Defence Colony'],data['Hauz Khas'])

In [4]:
t_statistic

2.569593732633792

t-statistic> t-critical
therefore we reject the null hypothesis.