In [1]:
import pandas as pd

In [2]:
a= pd.read_csv('mean.csv')

In [15]:
a.head()

   Student  Overall Marks Gender    Subject
0    Anish             97   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [9]:
mean= a['Overall Marks'].mean()
mean

68.21

In [11]:
b=pd.read_csv('mean_robust.csv')

In [12]:
b.tail()

    Student  Overall Marks  Gender    Subject
96    vivek             55    Male    Physics
97    Tisha              7  Female    English
98   Raghav             73    Male    English
99   Ishita             82  Female  Chemistry
100     NaN          10000     NaN        NaN

In [16]:
b['Overall Marks'].mean()      #mean not robust

166.54455445544554

In [18]:
b['Overall Marks'].mode()       #mode is robust

0    88
dtype: int64