# median is best method to find the central tendency

In [2]:
import pandas as p

In [5]:
a= p.read_csv("Median.csv")
a.head(6)

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English
5    Ajeet             15   Male    Physics

In [8]:
median= a['Overall Marks'].median()
print(median)

77.0

In [9]:
q1= a['Overall Marks'].quantile(.25)
q2= a['Overall Marks'].quantile(.5)
q3= a['Overall Marks'].quantile(.75)
q4= a['Overall Marks'].quantile(1)

In [11]:
print(q1)
print(q2)
print(q3)
print(q4)

57.25
77.0
87.25
9700.0

In [14]:
list = [20,30,40,50,60,70]
list.median()

AttributeError: 'list' object has no attribute 'median'