In [1]:
#Importing library
import pandas as pd

In [2]:
#Loading dataset
data = pd.read_csv('Spread of Data.csv')

In [3]:
#Print first 5 rows
data.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [4]:
max_data = data['Overall Marks'].max()

In [5]:
min_data = data['Overall Marks'].min()

In [6]:
range_data = max_data - min_data

In [7]:
print(range_data)

9700

In [8]:
# calculating IQR requires calculating 1st and 3rd quartiles.

Q1 = data['Overall Marks'].quantile(0.25)
Q3 = data['Overall Marks'].quantile(0.75)

In [9]:
IQR = Q3 - Q1
print(IQR)

30.0