In [1]:
# Importing library
import pandas as pd

In [2]:
#Loading data
data = pd.read_csv("Standard Deviation.csv")

In [3]:
#Printing top 5 rows
data.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [4]:
#Steps to calculate variance

# 1. Calculate Mean
# 2. Calculate the distance from mean for each element
# 3. Calculate Squared distance
# 4. Take average of Squared distance

In [5]:
mean = data['Overall Marks'].mean()

In [6]:
difference = data['Overall Marks'] - mean

In [7]:
squared_difference = difference ** 2

In [8]:
variance = squared_difference.mean()

In [9]:
print(variance)

919170.8423999996

In [10]:
standard_deviation = variance ** (1/2)
standard_deviation

958.7339789534944

In [11]:
#Calculating variance
var_data = data['Overall Marks'].var(ddof = 0)
var_data

919170.8423999996

In [12]:
std = data['Overall Marks'].std(ddof = 0)
std

958.7339789534944