In [1]:
#Importing library
import pandas as pd

In [2]:
#Loading dataset
data = pd.read_csv("Frequency Table.csv")

In [3]:
#Printing first 5 rows
data.head()

   Student  Overall Marks Gender    Subject
0    Anish             97   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

## Frequency Table for Categorical Variables

In [4]:
#Generating frequency table
#freq_data = data['Subject'].value_counts()
freq_data = data['Subject'].value_counts()

In [5]:
print(freq_data)

Chemistry    36
Physics      35
English      29
Name: Subject, dtype: int64