In [2]:
#Importing libraries
import pandas as pd

In [4]:
#Loading data
data = pd.read_csv("mode_mean.csv")

In [5]:
#Printing top 5 rows
data.head()

   Student  Overall Marks Gender    Subject
0    Anish             97   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [6]:
#Calculating Mode of Gender column
mode_data = data['Gender'].mode()

In [7]:
print(mode_data)

0    Male
dtype: object