In [2]:
import pandas as pd
import numpy as np
from matplotlib.pyplot import pyplot as plt
%matplotlib inline 
from sklearn.cluster import KMeans

ImportError: cannot import name 'pyplot' from 'matplotlib.pyplot' (C:\Users\SARIM\Anaconda3\lib\site-packages\matplotlib\pyplot.py)

In [ ]:
data=pd.read_csv("student_evaluation.csv")

In [ ]:
data.shape

In [ ]:
data.head()

In [ ]:
pd.isnull(data).sum()

In [ ]:
data.describe()

In [ ]:
kmeans = KMeans(n_cluster=2)

In [ ]:
kmeans.fit(data)

In [ ]:
pred=kmeans.predict(data)

In [ ]:
pred

In [ ]:
pd.series(pred).value_counts()

In [ ]:
kmeans.inertia_

In [ ]:
kmeans.score(data)

In [ ]:
SSE = []

In [ ]:
for cluster in range(1,20):
    kmeans = KMeans(n_jobs = -1, n_clusters = cluster)
    kmean.fit(data)
    SSE.append(kmeans.inertia_)

In [ ]:
frame = pd.Dataframe({'Cluster':range(1,20), 'SSE':SSE})

In [ ]:
plt.figure(figsize=(12,6))
plt.plot(frame['Cluster'], frame['SSE'], marker='o')

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

data_scaled = scaler.fit_transform(data)

In [ ]:
pd.Dataframe(data_scaled).describe()

In [ ]:
SSE_scaled = []

In [ ]:
for cluster in range(1,20):
    kmeans = KMeans(n_jobs = -1, n_clusters = cluster)
    kmean.fit(data_scaled)
    SSE.append(kmeans.inertia_)

In [ ]:
frame_scaled = pd.Dataframe({'Cluster':range(1,20), 'SSE':SSE_scaled})
plt.plot(frame_scaled['Cluster'], frame_scaled['SSE'], marker='o')
plt.xlabel("Clusters")
plt.ylabel("SSE")

In [ ]:
kmeans = KMeans(n_jobs = -1, n_clusters = 4)
kmean.fit(data_scaled)
pred = kmeans.predict(data_scaled)

In [ ]:
pred

In [ ]:
frame = pd.DataFrame(data_scaled)

In [ ]:
frame['cluster'] = pred

In [1]:
frame.loc[frame['cluster']==2,:]

NameError: name 'frame' is not defined

In [3]:
data=pd.read_csv("Final+Test+Data+Set.csv")

In [4]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y